.DS_Store
dist/
release/
backup/
bin/
db/
sui
web/html
main
tmp
.sync*
*.tar.gz

# local env files
.env.local
.env.*.local

# Log files
*.log*
.cache

# Editor directories and files
.idea
.vscode

# 排除前端依赖和构建产物
frontend-src/node_modules
frontend-src/dist
frontend-src/.cache
